<%- include('./partials/headerLogin.ejs')%>

<main>
    <h1>Welcome to The Muscle Planner</h1>

    <nav class="topnav">
        <a href="/">Home</a> 
    <a href="/members/login">Log In</a> 
    <a href="/members/signup">Sign Up</a>
    <a href="/members/faq">FAQ</a>
    </nav>

    <div class="rows">
        <div class="column" id="leftHalf"></div>

        <div class="column" id="rightHalfSignup">
            <h2>Your ultimate fitness companion!</h2>
            <p>Our goal is to help you achieve your fitness goals by providing personalized workout plans that fit your unique needs and preferences. Whether you're a fitness enthusiast or just starting out on your fitness journey, our website is designed to help you every step of the way.
            Our website starts with a simple survey to understand your fitness ambitions, time openings, and other relevant information. Using this information, The Muscle Planner creates a customized workout plan tailored just for you. We know that each person has different goals and challenges, and our website is designed to cater to each individual's needs.
            But The Muscle Planner is more than just a workout website. We understand that fitness is a journey and a lifestyle, and we want to be there for you every step of the way. Our blog page is a platform for you to share your progress, discuss your meal plans, and connect with others on similar fitness journeys. Think of it as a social media platform for fitness enthusiasts - with a focus on your health and wellbeing.
            At The Muscle Planner, we believe that fitness should be fun, accessible, and tailored to your needs. Our team is made up of experienced fitness experts who understand the science of exercise and nutrition, and we're constantly updating our website to incorporate the latest research and trends.
            So why wait? The Muscle Planner website today and take the first step towards a healthier, fitter you. Let us help you achieve your fitness goals - one workout at a time.</p>
        </div>
    </div>

</main>

<%- include('./partials/footer.ejs')%>