<%- include('../partials/headerWebsite.ejs')%>

<h1>CALENDAR</h1>

<nav class="topnav">
	<a href="/">Logout</a> 
	<a href="/calendar/">Member Home</a>
	<a href="/calendar/interactive">Calendar</a>
	<a href="/calendar/workoutScheduler">Workout Scheduler</a>
</nav>

<h2>Please select your preferred workout date</h2>
<input type="date" id= "dates" name= "date" min= "1" max= "31" min = "2023-02-26" max = "2023-12-31"value = "2023-02-26">

<%- include('../partials/footer.ejs')%>