<!DOCTYPE html>

<html lang="en"></html>

<head> 
    <title>Login Page</title>
    <meta name="setup">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/css/login.css">

</head>

<h1>Welcome To Muscle Planner</h1>
<body>
    <label>Enter your Username: </label>
    <input type="text" name="userName" id="userName" placeholder="Enter your Username">
    <label>Enter your Password: </label>
    <input type="password" name="password" id="password" placeholder="Enter your Password">
    <a href="/home"> <input type="button" value="Login"></a>

</body>
