<!DOCTYPE html>

<html lang="en"></html>

<head> 
    <title>Login Page</title>
    <meta name="setup">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/MainPage.css">
    

    <h1>Welcome to the Muscle Planner</h1>
    <h2>Your journey to your fitness goal begins here</h2>

<div class = "navibar">
    <nav>
        <ul>
            <li>
                <a href = "/HTML/Calender.html"><link>Calender</a>
            </li>
            <li>
                <a href = "BlogPage.html"><link>Blog Page</a>
            </li>
            <li>
                <a href = "WorkoutFacts.html"><link>Workout Facts</a>
            </li>
        </ul>
    </nav>
</div>
