<%- include('../partials/headerLogin')%>

<div class="header">
    <h1>FAQs</h1>
</div>

<nav class="topnav">
    <a href="/">Home</a> 
    <a href="/members/login">Log In</a> 
    <a href="/members/signup">Sign Up</a>
    <a href="/members/faq">FAQ</a>
</nav>

<div id="leftHalf"></div>

<div id="rightHalfSignup">            
    <ul>
        <li>
            <h3>How do I create a new workout?</h3>
            <p>To create a new workout, simply click on the "Create" button on the Workouts page. Enter the name of the workout and the number of sets and reps you want to do, then click "Save" to add it to your workout list.</p>
        </li>
        <li>
            <h3>How do I edit an existing workout?</h3>
            <p>To edit an existing workout, go to your workout list and click on the workout you want to edit. Make any changes you want to the sets and reps, then click "Save" to update your workout.</p>
        </li>
        <li>
            <h3>How do I remove a workout?</h3>
            <p>To remove a workout, go to your workout list and click on the workout you want to remove. Then click the "Remove" button to delete it from your workout list.</p>
        </li>
        <li>
            <h3>What if I have more questions?</h3>
            <p>If you have any more questions or need further assistance, please don't hesitate to contact us at support@Themuscleplanner.com. We're always happy to help!</p>
        </li>
    </ul>
</div>


<%- include('../partials/footer.ejs')%>
