    <footer>
        <div class="bottomCover">
            <p>Contact us at support@Themuscleplanner.com for more information. | &copy; 2023 The Muscle Planner. All rights reserved.</p>
        </div>
    </footer>
</body>

</html>